html {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100vw;
}

/* logo */

.logo {
  display: flex;
  width: 40%;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 50px;
}

/* navigation */

.main-header {
  color: blue;
}
